.hover {    
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: top;	
}

a,img {
border:none; /*ie fix*/
text-decoration: none;
}

.right {
	float: right;
} 

body {
	margin: 10px;
}

.content {
	margin: 20px;
}

.center {
	text-align: center;
}

