<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			Ludo - {{ page.title }}
		</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/main.css" type="text/css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript">
</script>
		<script type="text/javascript" src="/js/main.js">
</script>
	</head>
	<body>
		<div class="hero-unit">
			<h1>
				<a href="/">ludo.co.za</a>
				<span class="right">
					<a href="http://www.linkedin.com/in/ludolphneethling"><img class="hover" src="http://ludo.co.za/linkedin.png"></a> 
					<a href="http://twitter.com/#!/ludolphn"><img class="hover" src="http://ludo.co.za/twitter.png"></a> 
				</span>
			</h1>
		</div>
		
		<div class="content"> {{ content }} </div>
		
		<div class="well">
			<ul>{% for post in site.posts %}
				<li>
					<span>
						{{ post.date | date_to_string }}
					</span> - <a href="{{%post.url%}}">{{ post.title }}</a>
				</li>
				{% endfor %}
				
			</ul>
		</div>
		
	</body>
</html>

